<div class="pledge container">
    <div class="row pl-description1">
        <div class="pl-description-desc1 col-md-9">
            <div class="pg-logo pg-logo-noborder">
                <span class="helper"></span>
                {% if node.field_pledge_multi_logos.value %}
                    <a href="{{  file_url(node.field_pledge_logo.entity.field_media_image.entity.uri.value) }}" data-lightbox="logo">
                        {{ drupal_image(node.field_pledge_logo.entity.field_media_image.target_id) }}
                    </a>
                    <div class="multilogo-info"><i class="fa fa-search-plus" aria-hidden="true"></i> {{ "Click on<br>the image for details"|t }}</div>
                {% else %}
                    {{ drupal_image(node.field_pledge_logo.entity.field_media_image.target_id) }}
                {% endif %}
            </div>
            <div class="pg-org">{{ node.label }}</div>
            <div class="pg-desc-desc">
                {{ content.field_pledge_description|field_value }}
            </div>
        </div>

        <div class="col-md-3 pg-contact-info">

            <div class="xpl-contact-name">
                {% if content.field_pledge_contact_email %}
                    {{ "Contact"|t }}: <a href="mailto:{{ content.field_pledge_contact_email|field_value }}">{{ content.field_pledge_contact_email|field_value }}</a>
                    <br>
                {% endif %}
                {% if content.field_pledge_contact_site %}
                    {{ "Website"|t }}: <a target="_blank" href="{{ content.field_pledge_contact_site|field_value }}" rel="nofollow">{{ content.field_pledge_contact_site|field_value }}</a>
                    <br>
                {% endif %}
            </div>

            <div class="xpl-last-update">
                {{ "Last update"|t }}: {{ node.changed.value|date("m/d/Y") }}<br>
            </div>

            {% if show_edit_link %}
            <div class="xpl-last-update">
                <a href="{{ show_edit_link }}">{{ "Update this pledge"|t }}</a>
            </div>
            {% endif %}
        </div>
    </div>



    <div class="row">
        <div class="col-sm-8">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">{{ "Description"|t }}</a></li>
                <li role="presentation"><a href="#organisations" aria-controls="organisations" role="tab" data-toggle="tab">{{ "Pledging organisation"|t }}</a></li>
                <li role="presentation"><a href="#impact" aria-controls="impact" role="tab" data-toggle="tab">{{ "Impact"|t }}</a></li>
                <li role="presentation"><a href="#progress" aria-controls="progress" role="tab" data-toggle="tab">{{ "Progress"|t }}</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="description">

                    <!-- Project info -->
                    <div class="row" id="row-project-info">

                        <div class="col-sm-6" id="pl-categories">
                            <h3>{{ "Pledge Category"|t }}</h3>

                            {% if node.field_pledge_ds_ict_professional.value %}
                                <div class="pl-cat">
                                    <div class="cat-icon cat-icon-ict" title="{{ "Digital skills for ICT professionals"|t }}">
                                        <i class="fa fa-laptop" aria-hidden="true"></i>
                                    </div>
                                    {{ "Digital skills for ICT professionals"|t }}
                                </div>
                            {%  endif %}

                            {% if node.field_pledge_ds_for_labour.value %}
                                <div class="pl-cat">
                                    <div class="cat-icon cat-icon-labour" title="{{ "Digital skills for labour force"|t }}">
                                        <i class="fa fa-male" aria-hidden="true"></i>
                                    </div> {{ "Digital skills for labour force"|t }}
                                </div>
                            {% endif %}

                            {% if node.field_pledge_ds_for_all_citizens.value %}
                                <div class="pl-cat">
                                    <div class="cat-icon cat-icon-citizens" title="{{ "Digital skills for all citizens"|t }}">
                                        <i class="fa fa-building" aria-hidden="true"></i>
                                    </div>
                                    {{ "Digital skills for all citizens"|t }}
                                </div>
                            {% endif %}

                            {% if node.field_pledge_ds_in_education.value %}
                                <div class="pl-cat">
                                    <div class="cat-icon cat-icon-edu" title="{{ "Digital skills in education"|t }}">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    </div>
                                    {{ "Digital skills in education"|t }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-sm-6" id="pl-geo-scope">
                            <h3>{{ "Pledge's geographical scope"|t }}</h3>
                            <div id="map" class="mapboxgl-map">
                                <script type="application/json">
                                    {
                                        "service" : "map",
                                        "version" : "2.0",
                                        "custom": "/themes/custom/pledge_theme/js/map.js"
                                    }
                                </script>
                            </div>
                            <br /><br /><br />
                        </div>

                        <div class="col-sm-6" id="pl-time-period">
                            <h3 class="">{{ "Time period"|t }}</h3>
                            <div class="pl-start-date pl-date">
                                <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                                <span>{{ "Start date"|t }}:</span> {{ content.field_pledge_roadmap_start_date|field_value }}
                            </div>
                            <div class="pl-stop-date pl-date">
                                <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                                <span>{{ "End date"|t }}:</span> {{ content.field_pledge_roadmap_end_date|field_value }}
                            </div>
                        </div>


                        <div class="col-sm-6" id="pl-other-details">
                            <h3>{{ "Other Pledge details"|t }}</h3>

                            <div class="pl-funding">
                                <strong>{{ "Public Funding"|t }}:</strong>
                                {{ content.field_pledge_funding|field_value }}
                            </div>

                            {% if content.field_pledge_funding_add_text  %}
                                <div class="pl-funding-additional">
                                    {{ content.field_pledge_funding_add_text|field_value }}
                                </div>
                            {% endif %}

                        </div>

                        <!-- // fine Project info -->
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="organisations">

                    <div class="organization">
                        <h3>{{ node.field_pledge_organizations.entity.getName() }}</h3>
                        <div class="organization-desc">
                            {{ node.field_pledge_organizations.entity.field_pledge_description.value }}
                        </div>
                        <div class="organization-website">
                            <a href="{{ node.field_pledge_organizations.entity.field_pledge_website.value.0.uri }}">{{ node.field_pledge_organizations.entity.field_pledge_website.value.0.uri }}</a>
                        </div>
                    </div>

                </div>

                <div role="tabpanel" class="tab-pane fade" id="impact">

                    <!-- Project impact -->
                    <div class="row" id="row-project-impact">
                        <div class="col-xs-12" id="pl-qualitative-impact">
                            <h3>{{ "Qualitative Impact"|t }}</h3>
                            <div class="pl-qualitative-impact">
                                • {{ "Companies and universities from all over Europe provide learning content and jobs"|t }}<br>
                                • {{ "Combining learning content from multiple providers to curricula and link job profiles to courses and curricula"|t }}<br>
                                • {{ "AC as certification body for key certifications supporting the skill set for the digital transformation with company-wide curricula in Cyber Security, Data Scientist, Web Developer etc."|t }}<br>
                                • {{ "A lifelong community for learning and career development"|t }}<br>
                                • {{ "A platform for corporate-wide self-assessment of skills for the digital enterprise and for delivery of learnings &amp; certification on those skills"|t }}<br>
                                • {{ "Aligned with ESCO to provide international compatibility in skills classification (in cooperation with EU-funded project OPENSKIMR)"|t }}<br>
                                • {{ "Drive synergies and cooperation between companies as well as between industry, politics and academia"|t }}<br>
                            </div>
                        </div>
                    </div>

                    {% if content.field_pledge_impacts|render|striptags|trim is not empty %}
                    <div class="row">
                        <div class="col-xs-12" id="pl-quantitative-impact">
                            <h3 class="noborder">{{ "Quantitative Impact"|t }}</h3>
                            <table id="pl-table-impact" class="table table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <th class="col-sm-4">{{ "Indicator"|t }}</th>
                                    <th class="col-sm-4">{{ "Description"|t }}</th>
                                    <th class="col-sm-2">{{ "Target"|t }}</th>
                                    <th class="col-sm-2">{{ "Status"|t }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in node.field_pledge_impacts %}
                                <tr>
                                    <td>{{ item.entity.field_pledge_indicator_name.value }}</td>
                                    <td>{{ item.entity.field_pledge_indicator_desc.value }}</td>
                                    <td class="text-right">{{ item.entity.field_pledge_indicator_target.value }}</td>
                                    <td class="text-right">{{ item.entity.field_pledge_indicator_status.value }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>


                <div role="tabpanel" class="tab-pane fade" id="progress">

                    <!-- Project progress -->
                    <div class="row" id="row-project-progress">
                        <div class="col-sm-4" id="pl-progress-status">
                            <h3>{{ "Pledge progress"|t }}</h3>
                            <div id="gauge2" class="200x160px"></div>
                        </div>
                        <div class="col-sm-8" id="pl-progress-evidence">
                            <h3>{{ "Evidence about progress"|t }}</h3>
                            {%  if node.field_pledge_impacts %}
                            <div id="evidence-text">{{ node.field_pledge_updates.0.entity.field_pledge_evidence.value }}</div>
                            {% endif %}
                        </div>
                    </div>

                    {% if content.field_pledge_milestones|render|striptags|trim is not empty %}
                        <div class="row">
                            <div class="col-xs-12" id="pl-milestones">
                                <h3 class="noborder">{{ "Milestones"|t }}</h3>
                                <table id="pl-table-milestones" class="table table-condensed table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="col-sm-8">{{ "Milestone name"|t }}</th>
                                        <th class="col-sm-2">{{ "Completion date"|t }}</th>
                                        <th class="col-sm-2">{{ "Status"|t }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for item in node.field_pledge_milestones %}
                                    <tr>
                                        <td>{{ item.entity.field_pledge_milestone_name.value }}</td>
                                        <td>{{ item.entity.field_pledge_completion_date.value|date("m/d/Y") }}</td>
                                        <td>{{ item.entity.field_pledge_milestone_status.entity.getName() }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="col-sm-4" id="pl-twitter">
            {% set twitter_user_name = content.field_pledge_twitter.0 %}
            {{ drupal_block('twitter_block', {label: 'Latest tweet'|t, tweet_limit: 3, username: twitter_user_name['#context'].value }) }}
        </div>

    </div><!-- end row -->
</div>
